<link rel="stylesheet" href="<%= assetPath('css/sign-up-in.css') %>">

<form action="/users/update-password/<%= accessToken %>" method="POST">

  <div class="field">
    <input type="password" id="newPass" name="newPass" placeholder="New Password" required>
  </div>
  
  <div class="field">
    <input type="password" id="confirmPass" name="confirmPass" placeholder="Confirm Password" required>
  </div>
  
  <div class="field">
    <button type="submit">Submit</button>
  </div>
  
</form>
