<p>Hi ,</p>

<p>As you have requested to reset password , here's the URL , please</p>

<a href='localhost://127.0.0.1:8000/users/reset-password?accessToken=<%=accessToken.token%>'>
    Click Here or copy and past it on browser
    localhost://8000/users/reset-password?accessToken=<%=accessToken.token%>
</a>